body {
  padding: 2em;
  font-family: "Open Sans", sans-serif;
}

h2 {
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  padding: 0.5em 0 0.3em;
  margin-bottom: 1.5em;
}

.show-stopper {
	border: solid black;
	text-align: center;
	font-size: 5em;
	margin: 1em;
}

.main-goals {
  font-size: 1.5em;
  margin-left: 4.5em;
}

.main-goals li {
  margin: 1em 0;
}

.quote-author {
  color: #5555AA;
  font-size: 0.8em;
}
